
.dotted_line li { 
    padding: 22px 0px 20px 0px; text-transform: uppercase; font-family:'express-regular','Arial'; border-bottom: 1px solid #d5d5d5;  font-size: 13px; margin-right: 15px;  
                }
 

.dotted_line li.selected { 
     margin-right: -2px; 
                }

ul.dotted_line li a { color: black;  } 

.my_account { text-transform: uppercase;   font-family:'express-bold','Arial'; }


.fondo_cuenta { background: #efefef;  }
 

span.icon {
    height: 30px;
    width: 30px;
    margin-left: 3px;
    margin-top: -4px;
    margin-right: 6px;
    display: block;
    float: left;
    vertical-align: middle;
    background: url(../images/default/account-sprite.png) no-repeat; 

          }
 

ul.dotted_line li.selected {     
    background-color: white;
    border: 2px solid #d5d5d5;
    border-right: 0px; }


.mis_noti.icon {        background-position: 0px -298px;  }

.mis_pedidos.icon {        background-position: 0px -149px;  }

.mis_favoritos.icon {        background-position: 0px -198px;  }

.mis_devoluciones.icon {     background-position: 0px -149px; }

.mis_direcciones.icon {     background-position: 0px -50px; }

.mis_tarjetas.icon {     background-position: 0px -100px; }

.mis_cupones.icon {     background-position: 0px -350px; }



.user_panel { background: white; min-height: 500px; margin-top: 15px; padding: 20px 20px 0px 20px;   border: 1px solid #dedede;  font-family:'express-regular','Arial'; margin-bottom: 40px;  }

.user_panel h2  {  margin: 0px 0px 20px 0px;   padding-bottom: 15px;    border-bottom: 3px solid #e5e5e5;  font-family:'express-bold','Arial'; text-transform: uppercase;   }



.cart_detail {
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #000;
}

.f_auto {
    padding-top: 15px;
}


ul.panel_info { 
    color: black;
              } 



ul.panel_info p { 
    font-size: 14px;
    font-family:'express-bold','Arial'; 
}


ul.panel_info span { font-family:'express-regular'; font-size: 14px; letter-spacing: 0.06; margin-left: 5px;  }


ul.panel_info li {
    margin-top: 5px;
}


.sidebar .sr { z-index: 1;  }


.form_edit {
    padding: 10px 30px 30px 30px;
    width: 70%; 
    
}

.form_edit .gender { 
    border: 0px; 
    padding: 6px;
    width: 100%;
    background: #eaeaea; 
}


.form_edit input[type=text] {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd; }



.form_edit input[type=password] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }

 


.form_edit .date {     border: 0px;
    padding: 6px;
    width: 100%;
    background: #f1f1f1; 
    margin-bottom: 10px; 
    }


.form_edit .gender {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd;
}
 
.form_edit .form-group {
    margin-top: 10px;
    font-family: 'express-regular','Arial';
}





.form_comun {
    padding: 10px 30px 30px 30px;
    width: 70%; 
    
}

.form_comun .gender { 
    border: 0px; 
    padding: 6px;
    width: 100%;
    background: #eaeaea; 
}


.form_comun input[type=text] {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd; }



.form_comun input[type=password] {

    border: 0px;    
    padding: 6px;
    width: 100%;
    background: #eaeaea;  }

 


.form_comun .date {     border: 0px;
    padding: 6px;
    width: 100%;
    background: #f1f1f1; 
    margin-bottom: 10px; 
    }


.form_comun .gender {
    padding: 6px;
    width: 100%;
    background: #ffffff;
    border: 1px solid #bdbdbd;
}
 
.form_comun .form-group {
    margin-top: 10px;
    font-family: 'express-regular','Arial';
}



.normal_18 {   margin-top: 15px;   font-family: 'express-regular','Arial'; }

