.guide_titles { border-bottom: 1px solid #c1c1c1;   border-top: 1px solid #c1c1c1;   font-family:'express-light','Arial';    }

.guide_titles h4 { margin-bottom: 10px; margin-top: 13px; letter-spacing: .08em;  }

.r_title h2 { margin: 0px 0px 5px 0px;  font-family:'express-bold','Arial'; font-size: 18px; letter-spacing: .04em;   }

strong.ex-bold { font-family:'express-bold','Arial';  }

.row.showp {  margin-top: 20px;  border-bottom: 1px solid #c1c1c1;   padding-bottom: 20px;   }

.resume_cart h1  { text-transform: uppercase; font-family:'express-regular','Arial';  font-weight: 100; margin-left: -15px; font-size: 2em;  margin-bottom: 10px;  }

.resume_cart h1 span  { margin-left: 3px;  font-size: .6em;   } 


.bag_summary { padding-left: 30px; border-left: 1px solid #c1c1c1;  margin-top: 30px;   }

.resume_cart { padding-right: 20px;  }

ul.more_info {  font-family: 'express-light','Arial'; font-size: 15px; color: gray;  margin-top: 5px;   }

span.cblack { color: black; letter-spacing: 0.05em;  }

ul.more_info li { margin-bottom: 4px;  }

span.cred {  color: #d04d4d;  }

ul.edit_actions {     

    position: absolute;
    bottom: 0px;
    font-family: 'cond-bold','Arial';
    font-size: 15.3px;
    width: 200px;
    left: 100%;
   
     } 


ul.edit_actions li { display: inline-block;  }

ul.edit_actions li a { color: black;  }

ul.edit_actions li:before {     
    border-left: 0.1rem solid #454545;
    content: '';
    display: inline-block;
    height: 10px;
    margin-right: 1rem;
    margin-left: 1rem; }


li.n_m:before {
    border-left: none !important;
}
 

.info_price { padding: 12px 10px 8px 10px; margin-bottom: 20px;   background-color: gray; color: white; text-align: center;  font-family:'express-regular','Arial';   }


.btn-express.cart {  font-family:'cond-bold'; font-size: 18px; letter-spacing: 1.4px; margin-top: 20px;  }


.total_price  { padding: 15px 0px 35px 0px; background-color: #e6e6e6;  margin: 15px;   font-family:'express-bold';  }


.sub_price { margin-bottom: 12px;  font-family:'express-regular'; }

.shipping_price { margin-bottom: 12px;  font-family:'express-regular'; }

.one_last h3 { border-bottom: 1px solid #c1c1c1;  padding-bottom: 5px;      font-family: 'express-regular','Arial';   }

.informative_price { font-size: 16px;  }
 


.actions_cart li { display:  inline-block;  padding: 17px 40px 17px 60px;   color: #636363;   } 





ul.actions_cart { text-align: center; background: #f1f1f1;  margin-top: 100px;  margin-bottom: 40px;  }



.footer-utility-box span {
    text-transform: uppercase;
    display: block;
    text-align: left;
    font-family: 'express-regular','Arial';
}  


.footer-utility-info { font-size: 10px;  }

.footer-utility-title  { font-size: 14px;  }


#security { background: url(../images/default/icon-sprite.png) -736px -211px no-repeat; }

#returns {   background: url(../images/default/icon-sprite.png) -745px -438px no-repeat; }

#support  {  background: url(../images/default/icon-sprite.png) -744px -661px no-repeat;   }
 

