
@font-face {
  font-family:'express-bold'; 
  src:url('../fonts/es_bold_webfont.eot?#iefix')  

  format('embedded-opentype'),url('../fonts/es_bold_webfont.woff2')  
  format('woff'),url('../fonts/es_bold_webfont.ttf') 

  format('truetype'),url('/css/fonts/es_bold_webfont.svg#trade-gothic-bold-20') format('svg');
}

@font-face {
  font-family:'express-light'; 
  src:url('../fonts/es_light_webfont.eot?#iefix') 

  format('embedded-opentype'),url('../fonts/es_light_webfont.woff2')  
  format('woff'),url('../fonts/es_light_webfont.ttf') 

  format('truetype'),url('/css/fonts/es_light_webfont.svg#trade-gothic-bold-20') format('svg');
} 

@font-face {
  font-family:'express-regular'; 
  src:url('../fonts/es_regular_webfont.eot?#iefix') 

  format('embedded-opentype'),url('../fonts/es_regular_webfont.woff2')  
  format('woff'),url('../fonts/es_regular_webfont.ttf') 

  format('truetype'),url('/css/fonts/es_regular_webfont.svg#trade-gothic-bold-20') format('svg');
}

@font-face {
  font-family:'express-serif'; 
  src:url('../fonts/es_serif_webfont.eot?#iefix') 

  format('embedded-opentype'),url('../fonts/es_serif_webfont.woff2')  
  format('woff'),url('../fonts/es_serif_webfont.ttf') 

  format('truetype'),url('/css/fonts/es_serif_webfont.svg#trade-gothic-bold-20') format('svg');
}


@font-face {
  font-family:'cond-bold'; 
  src:url('../fonts/expresscond-bold.eot?#iefix') 

  format('embedded-opentype'),url('../fonts/expresscond-bold.woff2')  
  format('woff'),url('../fonts/expresscond-bold.ttf') 

  format('truetype'),url('/css/fonts/expresscond-bold.svg#trade-gothic-bold-20') format('svg');
}

 
@font-face {
  font-family:'cond-regular'; 
  src:url('../fonts/expresscond-regular.eot?#iefix') 

  format('embedded-opentype'),url('../fonts/expresscond-regular.woff2')  
  format('woff'),url('../fonts/expresscond-regular.ttf') 

  format('truetype'),url('/css/fonts/expresscond-regular.svg#trade-gothic-bold-20') format('svg');
} 
