
.social .social-link.icon-instagram {
    background-position: -548px -458px;
}

.social .social-link {
    background-image: url('../images/default/icon-sprite.png');
    background-repeat: no-repeat;
    display: inline-block;
    height: 26px;
    overflow: hidden;
    width: 26px;
}


.title-footer {
    color: #666666;
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 10px;
}


.social .social-link.icon-facebook:hover {
    background-position: -431px -504px;
}


.social .social-link.icon-facebook {
    background-position: -431px -458px;
}


.social li { display: inline-block;  margin-right: 10px; }


ul.social { height: 30px;  margin-top: 0px; } 

.btn.btn-link {

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: .2rem solid transparent; 
    padding: 10px 23px 7px 23px;
    background-color: #000;
    color: #FFF;
    font-size: 19px;

}
  


.social .social-link.icon-pinterest {
        background-position: -607px -457px;
}


.social .social-link.icon-gplus {
    background-position: -548px -458px;
}



.social .social-link.icon-instagram:hover {
    background-position: -548px -504px;
}


.link-locator>a:hover {
    color: #8a8a8a;
}

.link-locator>a {
    color: #8a8a8a;
}

.icon-pin {
    background: url('../images/default/icon-sprite.png') no-repeat -432px -613px;
    display: inline-block;
    height: 13px;
    width: 16px;
}



footer li a {
    color: #8a8a8a;
}



footer li {
    font-size: 12px;
    margin-top: 7px;
    color: #8a8a8a; 

}


footer li a:hover { color: #8a8a8a; } 


ul.sublinks-left li { display: inline-block; }
	
ul.sublinks-left { text-align: right;     margin-right: 15px; }


.logo_footer {   max-width: 16rem;    margin-top: 20px;  }


ul.sublinks-left li:before {
    border-left: 0.1rem solid #bbbbbb;
    bottom: -0.6rem;
    content: '';
    display: inline-block;
    height: 1.7rem;
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    width: .1rem;
}


.info_links {     margin-bottom: 45px;
    margin-top: 45px; }



.no_mar:before {
border-width: 0px !important;
}

 
footer { margin-top: 40px;  }


.enter_mail { border: none; background-color: $gris_express; padding: 5px;   }  
