
.nav_desk li { display: inline-block;  padding-right: 15px;  }

.nav_color { background-color: black;  }

.logo_express {  float: left;  margin-top: 15px; } 

.logo_express img { height: 32px;  }

.nav_desk {  display: inline-block;  margin-top: 25px;  margin-bottom: 0px; margin-left: 15px; }

.nav_desk div { color: #fff;  font-weight: bold;  }

.naveg span a { color: white; text-decoration: none; }

.naveg { display: inline-block; } 

.naveg span { font-family: 'express-bold',Arial;   letter-spacing: .1rem;   text-transform: uppercase; font-size: 1.2rem; }

.naveg span:before {     
	border-left: 0.1rem solid #454545;
    bottom: -.6rem;
    content: '';
    display: inline-block;
    height: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
    position: relative;
    width: .1rem; } 


.naveg span.no_mar:before {  
    border-left-color: transparent;    
    margin-right: 0px;
    margin-left: 0px;
                          }
    


.menu_white { 
	background: white;  
	padding: 15px 15px 30px 15px; 
    -webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);

position: absolute;
margin-left: auto;
margin-right: auto;
left: 222px;
right: 15px;
z-index: 9999;  
display: none; 


}

  
.col5 h2 { 
 
font-family: 'express-bold',Arial;   letter-spacing: .1rem;   
margin-top: 20px; 
text-transform: uppercase; font-size: 1.4rem;     border-bottom: 1px #cccccc solid;  padding-bottom: 7px; 
margin-right: -15px; margin-left: -15px; 
padding-left: 15px; 

		 }


.col5 ul li { font-family: 'express-regular',Arial;  font-size: 1em;  color: black;     margin-bottom: 10px;  }


.nav_info { float: right; margin-top: 10px; font-family:'express-regular';  margin-bottom: 9px;  color: white;   }

.nav_info a { color: white; text-decoration: underline;  }

ul.sbs li { display: inline-block; margin-right: 10px; float: right;  } 

.bk_search {
    background-image: url(../images/default/nav-sprite.png);
    background-repeat: no-repeat;
    width: 35px;
    height: 23px;
    background-size: 5.6rem 37.3rem;
    background-position: -15px -93px;


    border-right: 0.1rem solid #454545;
    content: '';
    display: inline-block;
    margin-left: 1rem;


} 


.sbs {      
    margin-top: 5px;
} 
 


.bk_bag {
    background-image: url(../images/default/nav-sprite.png);
    background-repeat: no-repeat;

    width: 35px;
    height: 23px;
    background-size: 5.6rem 37.3rem;
    background-position: -15px -190px; 
    border-right: 0.1rem solid #454545;
    content: '';
    display: inline-block;
    margin-right: 1rem;
}


.naveg.active { 

    background-image: url('../images/default/white_arrow.png');
    background-position: center 43px;
    background-repeat: no-repeat;
    height: 49px;

}


.options_menu li a { color: black;  }


.options_menu li a:hover { text-decoration: none;  }


.bk_bag a { color: black; position: relative; top: 6.5px; left: 8px; text-decoration: none;    }

.sign a { text-decoration: none;  }

li.sign {
    margin-top: 5px; letter-spacing: 1px; 
}


.bnext {       

    position: absolute;
    top: 45%; 
    right: 25px;
    z-index: 999;

    background: url('../images/default/arrows-carousel.png') no-repeat;
    height: 38px;
    background-position: -36px -36px;
    width: 38px;

       }



.bprev {  
    position: absolute;
    top: 45%;
    left: 25px;
    z-index: 999;

    background: url("../images/default/arrows-carousel.png") no-repeat;
    height: 38px;
    background-position: 2px -36px;
    width: 38px;

}




.img_menu {
    margin-top: 4px;
    padding: 8px;
}


.action_search {     
    position: absolute;
    padding: 20px 40px;
    background: white;
    z-index: 99;
    margin-top: 10px;
    right: 15px; 
    width: 350px; 

-webkit-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
-moz-box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);
box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.5);

display: none;  

             }


.input_search { 

    width: 100%;
    height: 30px;
    border: 0;
    border-bottom: 1px solid gray;
    color: black;
    font-size: 15px;
    font-weight: bold;
    padding: 5px;
    letter-spacing: 1px; 

              }

li.search.naveg {
    height: auto;
    background: none;
}

