@media (min-width: 999px){
.container {
    max-width: 1280px;
}

.container {
    padding-left: 4%; 
    padding-right: 4%;
}





}

  

@media (max-width: 999px){ 

.menu_white {   left: 15px;   }

.logo_express {
    float: initial;
    margin-top: 15px;
}

.nav_desk {
    margin-left: -5px;
    margin-top: 5px;
    margin-bottom: 0px;
		  } 


.nav_info { margin-top: -25px; margin-bottom: 10px; } 


.naveg.active {       
    background-position: center 29px;
    height: 35px;
  }




						  }




@media (min-width: 1280px) { 
.container{
    max-width: 1348px;
}

.container {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

} 





@media (max-width: 767px){ 

.container { width: 767px;  }

}
